.list-container{
  display: flex;
  justify-content: center;
  align-items: center;
}
.list{
  margin: 25px;
}
button{
  margin: 8px;
  padding: 1px 10px;
  border: none;
  outline: none;
  background-color: transparent;
  cursor: pointer;
  border-radius: 4px;
}
